@media (max-width: 767px) {
    .full-screen{
        background-image: url('../images/m.hihi.jpg');
        background-size:contain;
        background-position: center;
        background-attachment: fixed;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .full-screen{
        background-image: url('../images/hihi.jpg');
        background-size:contain;
        background-position: center;
        background-attachment: fixed;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .full-screen{
        background-image: url('../images/hihi.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        }
  }
  

@media (min-width: 1200px) {
    .full-screen{
    background-image: url('../images/hihi.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }
}