.fs-section{
    justify-content: center;
    align-items: center;

}

@media (max-width: 767px) {
    .landing-layout{
        display: grid;
        padding-top: 30px;

    }
    .photo{
        z-index: 50;
        border-width: 5px;
        box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.7),
                    25px 0px 20px -20px rgba(0,0,0,0.7),
                    0px 25px 20px -20px rgba(0,0,0,1),
                    -25px 0px 20px -20px rgba(0,0,0,0.7);
    }
    .name-heading{
        color: #c8f560;
        text-shadow: 3px 3px 8px #4e515c;
        font-weight: bolder;
        font-family: space grotesk;
        font-style: normal;
        font-size: 35px;
    }
    .name-description{
        font-size: 17px;
        font-family: dm sans;
        color: beige;
        font-weight: 900;
        width: 300px;
        text-align: center;
        padding-top: 0;
    }
    .location{
        font-size: 18px;
        font-family: space grotesk;
        padding-top: 13px;
        padding-bottom: 15px;
        color: whitesmoke;
        font-weight: 900;
    }
    .description-heading{
        line-height: 1.2;
        font-size:29px;
        font-family: space grotesk;
        font-weight: bold;
        text-align: center;
        background: linear-gradient(to left,#5a7f02, #b3ff00);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        width: 300px;
        text-align: center;
    }
    .description-paragraph{
        padding-top: 15px;
        font-size: 18px;
        text-align: center;
        width: 350px;
        font-family: space grotesk;
        font-weight:bolder;
        color: beige;
    }
    .inline-logo{
        height: 18px;
        width: 18px;
        display: inline;
    }

  }
  
  /* CSS for screens between 768px and 992px */
  @media (min-width: 768px) and (max-width: 991px) {
    .landing-layout{
        display: grid;
        padding-top: 30px;
        width: 100vw;
    }
    .photo{
        z-index: 50;
        border-width: 5px;
        box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.7),
                    25px 0px 20px -20px rgba(0,0,0,0.7),
                    0px 25px 20px -20px rgba(0,0,0,1),
                    -25px 0px 20px -20px rgba(0,0,0,0.7);
    }
    .name-heading{
        color: #c8f560;
        text-shadow: 3px 3px 8px #4e515c;
        font-weight: bolder;
        font-family: space grotesk;
        font-style: normal;
        font-size: 35px;
    }
    .name-description{
        font-size: 17px;
        font-family: dm sans;
        color: beige;
        font-weight: 900;
        width: 300px;
        text-align: center;
        padding-top: 0;
    }
    .location{
        font-size: 18px;
        font-family: space grotesk;
        padding-top: 13px;
        padding-bottom: 15px;
        color: whitesmoke;
        font-weight: 900;
    }
    .description-heading{
        line-height: 1.2;
        font-size:29px;
        font-family: space grotesk;
        font-weight: bold;
        text-align: center;
        background: linear-gradient(to left,#5a7f02, #b3ff00);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        width: 300px;
        text-align: center;
    }
    .description-paragraph{
        padding-top: 15px;
        font-size: 18px;
        text-align: center;
        width: 350px;
        font-family: space grotesk;
        font-weight:bolder;
        color: beige;
    }
    .inline-logo{
        height: 18px;
        width: 18px;
        display: inline;
    }
  }
  
  /* CSS for screens between 992px and 1200px */
  @media (min-width: 992px) and (max-width: 1199px) {
    .landing-layout{
        display: flex;
        padding-top: 10%;
        padding-left: 0;
        padding-right: 0;
        max-width: 100vw;
    }
    
    .photo{
        z-index: 50;
        border-width: 5px;
        box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.7),
                    25px 0px 20px -20px rgba(0,0,0,0.7),
                    0px 25px 20px -20px rgba(0,0,0,1),
                    -25px 0px 20px -20px rgba(0,0,0,0.7);
    }
    .name-heading{
        color: #b9ed41;
        text-shadow: 3px 3px 8px #4e515c;
        font-weight: bolder;
        font-family:space grotesk;
        font-style: normal;
        font-size: 35px;
    }
    .name-description{
        font-family: dm sans;
        font-size: 18px;
        color: beige;
        font-weight: 900;
        width: 300px;
        text-align: center;
        padding-top: 8px;
    }
    .description-heading{
        line-height: 1.2;
        font-size:50px;
        font-family: space grotesk;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        background: linear-gradient(to left, #5a7f02, #b3ff00);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-align: center;
        width: 600px;
    }
    .description-paragraph{
        padding-top: 10px;
        font-size: 25px;
        text-align: center;
        width: 500px;
        font-family: space grotesk;
        font-weight: 600;
        color: rgb(230, 230, 215);
    }
    .location{
        font-size: 18px;
        font-family: dm sans;
        padding-top: 13px;
        color: rgb(255, 255, 255);
        font-weight: 900;
    }
    .inline-logo{
        height: 25px;
        width: 25px;
        display: inline;
  }
}
  /* CSS for screens larger than 1200px */
  @media (min-width: 1200px) {
    .landing-layout{
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        padding-top: 5%;
        max-width: 100vw;
        /* padding-left: 6vw; */
        /* padding-right: 10%; */
    }
    .photo-bio{
        margin-left: 4vw;
    }
    .photo{
        z-index: 50;
        border-width: 5px;
        box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.7),
                    25px 0px 20px -20px rgba(0,0,0,0.7),
                    0px 25px 20px -20px rgba(0,0,0,1),
                    -25px 0px 20px -20px rgba(0,0,0,0.7);
    }
    .name-heading{
        color: #b9ed41;
        text-shadow: 3px 3px 8px #4e515c;
        font-weight: bolder;
        font-family:space grotesk;
        font-style: normal;
        font-size: 28px;
    }
    .name-description{
        font-family: dm sans;
        font-size: 18px;
        color: beige;
        font-weight: 900;
        width: 220px;
        text-align: center;
        padding-top: 8px;
    }
    .description-block{
        margin-left: 5vw;
    }
    .description-heading{
        line-height: 1.2;
        font-size:60px;
        font-family: space grotesk;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        background: linear-gradient(to left, #5a7f02, #b3ff00);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-align: center;
        width: 900px;
    }
    .description-paragraph{
        padding-top: 10px;
        font-size: 25px;
        text-align: center;
        width: 650px;
        font-family: space grotesk;
        font-weight: 600;
        color: rgb(230, 230, 215);
    }
    .location{
        font-size: 18px;
        font-family: dm sans;
        padding-top: 13px;
        color: rgb(255, 255, 255);
        font-weight: 900;
    }
    .inline-logo{
        height: 25px;
        width: 25px;
        display: inline;
    }
  }